*{padding: 0px; margin: 0%;}

.container {width: 1000px; margin: auto; text-align: left;}
.container .article .kiri {float: right; width: 450px; background-color: white; padding: 20; padding-top: 150px;}
.container .article .kiri p{color: black; }
.container .article .kiri h2{padding-bottom: 20px; text-align: center; font-size: "5";}
.container .article .kiri h4{padding-bottom: 20px; text-align: center; font-size: large;}


.container .article .kanan {float: left ; width: 500px; background-color: white; padding: 20; padding-top: 150px; padding-right: 30px;pa}
.container .article .kanan p{color: black; }
.container .article .kanan h3{padding-bottom: 20px; text-align: center; size: 20px; font-size: "6"}
.container .article .kanan h5{padding-bottom: 20px; text-align: center; font-size: large;}

{
    margin: 0;
    padding: 0;
    
}
.nav{
    margin: auto;
    text-align: left;
    font-family: serif;
    width: 100%;
    font-size: 20px;
    top: 0;
    overflow: auto;
}
.merk{
    font-size: 20px;
    padding: 260px;
    background-image: url('frontend/images/background.png');
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    margin-left: 0%;
    margin-right: 0%;
 }
.nav ul{
    
    background: transparent;
    list-style: none;
    position: sticky;
    display: inline;
    width: 100%;
    padding: 5px;
    margin-right: 20;
    margin-top: 20;
}
.nav ul li{
    float: right;
}
.nav ul li:hover{
    background: #b39466;
    
}
.nav ul li:hover a{
    color: rgb(255, 255, 255);
}
.nav ul li a{
    display: block;
    padding: 20px;
    color: #f0ffff;
    text-decoration: none;
    margin-top: 45px;
}
.logo img{
    position: absolute;
    margin-top: 35px;
    margin-left: 10px;

*{margin: 0px auto;}
    html,body{
        height: 100%;
}

}
    
.footer{
    margin-bottom: -400px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
    text-align: center;
}
.button {
    background-color: #ffe600;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-left: 180px;
  }

  .button2 {
    background-color: #ffe600;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-left: 200px;
  }